@font-face {
  font-family: "steamwreck";
  src: url("steamwreck/Steamwreck.otf");
}

@font-face {
  font-family: "Edmundsbury Serif";
  src: url("edmundsbury_serif/Edmundsbury Serif.ttf");
}

body {
  font-family: "steamwreck";
  font-size: 23px;
  background-image: url("../public/red-velvet.jpg");
}

body .container {
  background-color: white;
}

nav li,
.bienvenue,
.form-control,
thead td,
.errorPage {
  font-size: 30px;
}

.footer,
.info, 
#date,
.pagination li {
  font-size: 20px;
}

h1 {
  font-size: 70px;
}

a,
#buttonBurger,
h2,
#bookTitle,
.titleOfTopic {
  color: #c15620;
}

#submit,
#cancel {
	background-color: #c15620;
	color: white;
}

a:hover {
  color: #c27f5d;
}

#gear {
  transform: rotateY(180deg);
}

.section {
  text-align: center;
}

#bookTitle {
  font-size: 35px;
}

.card {
  border-color: #c15620;
}

.card-header,
#welcome,
.displayForm,
thead {
  background-image: url("../public/fondCuivre.jpg");
  color: white;
}

#bookDescription,
.jumbotron {
  font-family: "Edmundsbury Serif", serif;
  font-size: 22px;
  background-image: url("../public/parchment.svg");
}

.content,
.comment {
  font-family: "Edmundsbury Serif", serif;
  font-size: 23px;
}

#home-description li {
  list-style-image: url("../public/top-hat.png");
  font-size: 25px;
}

.page-item .page-link {
  color: black;
}

em,
#deleteSubject {
  font-size: 25px;
}

.border1,
.border2 {
  width: 70%;
}

.border2 {
  transform: rotateX(180deg) rotateY(180deg);
}

#forum {
  border-style: solid;
  border-radius: 50px;
  border-color: #c15620;
}

.marble,
#forum {
  background-image: url("../public/marbre.jpg");
  background-size: cover;
}

.engrenages {
  background-image: url("../public/engrenages.jpg");
  height: 75px;
}

@media screen and (min-width: 1200px) {
  .newsletter {
    padding-left: 150px;
  }

  footer .author {
    margin-top: 100%;
  }
}

@media screen and (min-width: 980px) {
	.grandBi {
		margin-top: 10%;
	}
}

footer {
  font-size: 20px;
  color: #c15620;
}
