@font-face {
	font-family: "steamwreck";
	src: url("steamwreck/Steamwreck.otf");
}

@font-face {
	font-family: "Edmundsbury Serif";
	src: url("edmundsbury_serif/Edmundsbury Serif.ttf");
}

body {
	font-family: "steamwreck";
	font-size: 25px;
	background-image: url("../public/red-velvet.jpg");
}

body .container {
	background-color: white;
}

nav li, .form-control {
	font-size: 30px;
}

h1 {
	font-size: 70px;
}

a,
#buttonBurger,
h3 {
	color: #c15620;
}

a:hover {
	color: #c27f5d;
}

#gear {
	transform: rotateY(180deg);
}

.section {
	text-align: center;
}

.card {
	border-color: #c15620;
}

.card-header,
#submit,
#cancel,
#welcome {
	background-image: url("../public/fondCuivre.jpg");
	color: white;
}

#bookDescription, .jumbotron {
	font-family: "Edmundsbury Serif", serif;
	font-size: 22px;
	background-image: url("../public/parchment.svg");
}

.content {
	font-family: "Edmundsbury Serif", serif;
	font-size: 27px;
}

#home-description li {
	list-style-image: url("../public/top-hat.png");
}

#administration li {
	list-style-image: url("../public/goggles.png");
}

.page-item .page-link {
	color: black;
}

em, #deleteSubject {
	font-size: 25px;
}

.border1, .border2 {
	width: 70%;
}

.border2 {
	transform: rotateX(180deg) rotateY(180deg);
}

footer {
	font-size: 20px;
	color: #c15620;
}
