@font-face {
	font-family: "steamwreck";
	src: url("steamwreck/Steamwreck.otf");
}

body {
	font-family: "steamwreck";
	font-size: 30px;
}

h1 {
	font-size: 70px;
}

a, #buttonBurger {
	color: #c15620;
}

a:hover {
	color: #c27f5d;
}

.card {
	border-color: #c15620;
}

.card-header, #submit, #cancel {
	background-image: url("../public/fondCuivre.jpg");
	color: white;
}

#bookDescription {
	font-family: Arial;
	font-size: 20px;
}

footer {
	font-size: 20px;
	color: #c15620;
}
